<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aegis_description)/urdf/modules/cell.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/lighting_support_right.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/lighting_support_left.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/adapter_cell.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/ur_definition.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/adapter_to_sensor.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/ft_schunk_axia80.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/adapter_from_sensor.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/robotiq_hande_gripper.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/mount_camera_tool_luxonis.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/mount_camera_tool_basler.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/camera_scene_luxonis.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/camera_tool_luxonis.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/camera_tool_basler.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/lens_computar.xacro"/>

  <xacro:macro name="aegis_robot" params="parent tf_prefix prefix mock_hardware disable_cell disable_cell_collision disable_leds">
    <xacro:cell parent="${parent}" disable_cell="${disable_cell}" disable_cell_collision="${disable_cell_collision}" disable_leds="${disable_leds}"/>
    <xacro:adapter_cell parent="${parent}" prefix="${prefix}" disable_cell="${disable_cell}" disable_cell_collision="${disable_cell_collision}"/>
    <xacro:ur_definition name="aegis" parent="${parent}" tf_prefix="${tf_prefix}" mock_hardware="${mock_hardware}"/>
    <xacro:adapter_to_sensor parent="tool0" prefix="${prefix}"/>
    <xacro:ft_sensor_schunk_axia80 parent="adapter_to_sensor_end" prefix="${prefix}" mock_hardware="${mock_hardware}"/>
    <xacro:adapter_from_sensor parent="tool_mount_link" prefix="${prefix}"/>
    <xacro:hande_gripper parent="adapter_from_sensor_end" prefix="${prefix}" mock_hardware="${mock_hardware}"/>
    <xacro:mount_camera_tool_luxonis parent="adapter_mount_front" prefix="${prefix}"/>
    <xacro:mount_camera_tool_basler parent="adapter_mount_right" prefix="${prefix}" side="right"/>
    <xacro:mount_camera_tool_basler parent="adapter_mount_left" prefix="${prefix}" side="left"/>
    <xacro:camera_scene_luxonis parent="base_link"/>
    <xacro:camera_tool_luxonis parent="mount_front_end" prefix="${prefix}"/>
    <xacro:camera_tool_basler parent="mount_right_end" prefix="${prefix}" side="right"/>
    <xacro:camera_tool_basler parent="mount_left_end" prefix="${prefix}" side="left"/>
    <xacro:lens_computar parent="cam_tool_right" prefix="${prefix}" side="right"/>
    <xacro:lens_computar parent="cam_tool_left" prefix="${prefix}" side="left"/>
  </xacro:macro>
</robot>
